{# empty Twig template #}
<footer>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <nav>
                            <ul>
                                <li><a href="#">Copyright</a></li>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">Privacy</a></li>
                                <li><a href="#">Right to Information</a></li>
                                <li><a href="#">Accessibility</a></li>
                                <li><a href="#">Jobs in Queensland</a></li>
                                <li><a href="#">Government</a></li>
                                <li><a href="#">Deutsch (Other languages)</a></li>
                            </ul>
                        </nav>

                        <p>© The State of Queensland 2002–2013 <span>Queensland Government</span></p>

                        <h5>Great State. Great opportunity.</h5>
                    </div>
                </div>
            </div>
</footer>