{# empty Twig template #}
<footer>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <nav>
                            <ul>

                                {% render url('footer_menu') %}

                            </ul>
                        </nav>

                        <p>© The State of Queensland 2002–2013 <span>Queensland Government</span></p>

                        <h5>Great State. Great opportunity.</h5>
                    </div>
                </div>
            </div>
</footer>