{# empty Twig template #}
<header class="topHeader">
            <div class="container">
                <div class="row">

                    <div class="span12">
                        <div class="row">
                            <div class="span9">
                                <a href="#" class="mainLogo">Queensland Goverment</a>
                            </div>
                            <div class="span3 visible-desktop">
                                <ul class="subNav">
                                    <li><a href="#">Search</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Share <i class="icon-share"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="span12">
                        <h1>Strong choices for Queensland</h1>    
                    </div>
                    {% render url('header_menu') %}
                    

                </div>
            </div>
        </header>