{% extends '::base.html.twig' %}

{% block body -%}
  

    <table class="records_list">
        <thead>
            <tr>
            
                <th>Name</th>
                <th>Title</th>
                <th>Lead</th>
                <th>Description</th>
               
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
             
                <td>{{ entity.name }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.lead }}</td>
                <td>{{ entity.description }}</td>
             
              
            </tr>
        {% endfor %}
        </tbody>
    </table>

       
    {% endblock %}
