/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a:hover{
    text-decoration: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

:focus{ outline: none !important; }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.psVideo {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.psVideo iframe,  
.psVideo object,  
.psVideo embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    color: #464646;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

@font-face {
    font-family: 'sketch_blockbold';
    src: url('fonts/sketch_block-webfont.eot');
    src: url('fonts/sketch_block-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sketch_block-webfont.woff') format('woff'),
         url('fonts/sketch_block-webfont.ttf') format('truetype'),
         url('fonts/sketch_block-webfont.svg#sketch_blockbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

input, textarea, select{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.clearMargin{
    margin: 0 auto;
    float: none;
}

.topHeader{
    background: #f4f2f2;
    
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    padding: 30px 0 0;
    position: relative;
}

.topHeader h1{
    color: #003c69;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 18px;
}

.subNav{ 
    text-align: right; 
}

.subNav li{ 
    display: inline-block;
    padding: 0 3px 0 6px;
    position: relative
}

.subNav li a{ 
    color: #959595;
    font-size: 13px;
    line-height: 1.5em;
    display: inline-block;
}

.subNav li:before {
    background-color: #aeaeae;
    content: "";
    height: 11px;
    position: absolute;
    top: 6px;
    left: 0;
    width: 1px
}

.subNav li:first-child:before {
    background-color: transparent
}

.mainLogo{
    display: block;
    background: url(../img/queensland-logo.png) no-repeat left top;
    width: 286px;
    height: 50px;
    text-indent: -9999em;
    margin-bottom: 30px;
}

.mainNavi .nav {
    float: none
}

.mainNavi .navbar {
    margin-bottom: 0;
}

.mainNavi .nav>li>a{
    color: #003c69;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 42px;
    font-weight: 500;
    text-shadow: none;
}
.mainNavi .nav>li.dropdown>a{
    padding-left: 12px;
    padding-right: 12px;
     margin-right: 30px;
}

.mainNavi .nav>li.open>a{
    color: white;
    background-color: #002d4f;
}

.mainNavi .nav i {
    font-weight: bold;
    margin-left: 4px
}

.mainNavi .nav i:before {
    content: "\f107";
    position: relative;
    top: 1px;
}

.mainNavi .nav>li>.dropdown-menu:after,
.mainNavi .nav>li>.dropdown-menu:before{
    display: none;
}

.mainNavi .nav>li>.dropdown-menu{
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #002d4f;
}

.mainNavi .nav>li>.dropdown-menu a{
    color: white;
    padding: 18px 24px;
}

.mainNavi .nav>li>.dropdown-menu a:hover,
.mainNavi .nav>li>.dropdown-menu a:focus{
    background-image: none;
    filter: -;
    background-color: #003b69;
}

.mainNavi .submission-close{
    font-size: 14px;
    line-height: 40px;
}

/* ==========================================================================
   Content Styles
   ========================================================================== */

.content{
    padding: 60px 0;
}

.leadSection h2{
    font-size: 42px;
    margin-bottom: 24px;
}

.leadSection p.descriptionLead{
    font-size: 18px;
}


.subSection .span12{
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    border-bottom: none;

    position: relative;
}

section + section{
    margin-top: 30px;
}

.subSection .span12:after{
    content: '';
    position: absolute;
    height: 4px;
    left: -1px;
    right: -1px;
    background-color: #235F8C;
}

.promotSection .span12:after {
    background: none
}

.subSection .spacingAll{ 
    padding: 30px;
}

.subSection h3{
    font-size: 21px;
    font-weight: 500;
    line-height: 1.3em;

    margin-bottom: 30px;
}

.subSection p{ 
    margin-bottom: 24px;
}

.subSection .moreInfo{
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Architects Daughter', cursive;
    
    background-color: #464646;
    display: inline-block;
    padding: 6px 18px;
    text-transform:  uppercase;
    border-radius: 12px;
}

.subSection .moreInfo i{
    font-size: 19px;
    margin-right: 9px;
    top: 2px;
    position: relative;
}

.promotSection .span12{
    color: white;
    background-color: #4b131b;
    border-color: #4b131b;
}

.promotSection .moreInfo{
    background-color: #8b2331;
}

/* ==========================================================================
   Title Styles
   ========================================================================== */
.titleSection .span12:after{
    display: none;
}

.titleSection h2{
    color: white;
    font-size: 36px;
    font-weight: normal;
    font-family: 'Architects Daughter', cursive;
    background: url(../img/sectiontitle-bg.jpg) no-repeat 0 0;
    background-size: cover;
}

.titleSection h2 span{
    display: inline-block;
    padding: 30px;
    background-color: #235f8c;
}

.contentSection .span12{
    padding: 42px 0;
    border: 1px solid #EBEBEB;

    text-align: center;
}
.contentSection h2, .contentSection h4{
    color: #235F8C;
    font-size: 48px;
    font-weight: normal;
    font-family: 'Architects Daughter', cursive;

    margin-bottom: 36px;
}

.contentSection h4{
    color: #8B2331;
    font-size: 36px;
    font-weight: 500;

    margin-bottom: 24px;
}

.contentSection .span8{
    margin: auto;
    float: none;
}

.contentSection .prevButton,
.contentSection .nextButton{
    color: white;
    font-size: 17px;
    font-family: 'Architects Daughter', cursive;
    background-color: #235F8C;
    display: inline-block;

    padding: 9px 30px;
    border-radius: 14px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.contentSection .nextButton{
    margin-left: 18px;
    background-color: #8B2331;
}

.finishedSection .span12{
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px;
}

.finishedSection p{
    margin-bottom: 24px;
}

/* ==========================================================================
   UI Slider Global Styles
   ========================================================================== */
.ui-slider{
    border-radius: 0;
    border: none;

    background-color: #e1e5e6;
    height: 18px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.ui-slider-range{
    border-radius: 0;
    border: none;

    background-color: #0d4058;
}

.ui-slider-handle.ui-state-default{
    border-radius: 0;
    border: none;
    background: #be461d;
    width: 36px;
    height: 36px;
    top: -9px;
    outline: none;
}

.ui-slider-handle.ui-state-default:before{
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    content: "\e6b8";
    position: absolute;

    width: 100%;
    height: 100%;    
    
    color: #993717;
    font-size: 21px;
    
    text-align: center;
    line-height: 36px;
}

.switchButtonWrapper{
    padding-left: 90px;
}

.switch-button-background{
    background-color: #fafafa;
    border: 1px solid #d6d9da;
    border-radius: 0;
    background: #ecf0f1;
    margin-bottom: 24px;     
    overflow: hidden;
}

.switch-button-background.checked {
    background-color: #be461d;
    border-color: #22bbff;
    -webkit-box-shadow: 1px 0px 3px 4px rgba(34, 187, 255, 0.1);
       -moz-box-shadow: 1px 0px 3px 4px rgba(34, 187, 255, 0.1);
            box-shadow: 1px 0px 3px 4px rgba(34, 187, 255, 0.1);  
}

.switch-button-button{
    border: none;
    border-radius: 0;
    top: 0;
}

.switch-button-button:after {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    content: "\e6fd";
    position: absolute;

    width: 100%;
    height: 100%;    
    
    color: #a0a0a0;
    font-size: 21px;
    left: 100%;
    
    text-align: center;
    line-height: 36px;
}

.checked .switch-button-button:after {
    color: #fff;
    content: "\e6fe";
    left: -100%
}

.switch-button-button:before {
    color: #0a2f40;
    content: "cut";
    font-size: 14px;
    font-weight: 500;
    left: 11px;
    position: absolute;
    text-transform: uppercase;
    top: 7px;
}

.checked .switch-button-button:before {
    left: 11px
}

.switch-button-label{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;    

    line-height: 35px;
}

.primeSlider{
    padding: 30px 0;
    padding-top: 90px;
    background: url(../img/pattern-overlay.jpg) repeat left top;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;

    margin-bottom: 60px;
}

.primeSlider .span10{
    float: none;
    margin: 0 auto;
}

.primeSlider .ui-slider{
    height: 40px;
    background-color: white;

    -webkit-box-shadow: inset 0 10px 50px 10px rgba(0, 0, 0, 0.2), inset 0 0 0 -10px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: inset 0 10px 50px 10px rgba(0, 0, 0, 0.2), inset 0 0 0 -10px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 10px 50px 10px rgba(0, 0, 0, 0.2), inset 0 0 0 -10px rgba(0, 0, 0, 0.1);
}

.fixed-header {left: 0; position: fixed; top: -30px; width: 100%; z-index: 10 }

.primeSlider .ui-slider-range{
    background: #7ab800; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhYjgwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjk5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #7ab800 0%, #ff9900 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7ab800), color-stop(100%,#ff9900)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #7ab800 0%,#ff9900 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #7ab800 0%,#ff9900 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #7ab800 0%,#ff9900 100%); /* IE10+ */
background: linear-gradient(to right,  #7ab800 0%,#ff9900 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ab800', endColorstr='#ff9900',GradientType=1 ); /* IE6-8 */

}

.primeSlider .ui-slider-handle.ui-state-default{
    width: 2px;
    height: 160px;

    top: auto;
    bottom: 0;

    margin-left: 0;
}

.primeSlider .ui-slider-handle:before{
    content: '';
}

.primeSlider .ui-slider-handle span{
    font-size: 32px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

    color: white;
    background-color: #8b2331;

    min-width: 200px;
    height: 58px;
    right: 0;
    padding-left: 12px;
    padding-right: 12px;

    line-height: 58px;
    position: absolute;
    display: block;
    text-align: center;    
}

.primeSlider .ui-slider-handle span em{ font-style: normal; }

.totalSliderLabel{
    display: table;
    width: 100%;

    margin-top: 24px;
    table-layout: fixed;
}

.totalSliderLabel li{
    display: table-cell;
    table-layout: fixed;
    text-transform: uppercase;

    font-size: 14px;
    font-weight: 600;

    text-align: center;
    position: relative;
}

.totalSliderLabel li:after{
    content: '';
    position: absolute;

    width: 2px;
    height: 12px;

    background-color: #464646;

    top: -15px;
    left: 50%;
}

.totalSliderLabel.topLabel{
    margin: 0;
    margin-bottom: 24px;

    margin-left: -60px;
}

.totalSliderLabel.topLabel li:after{
    top: auto;
    bottom: -15px;
}

.costSlider{ 
    width: 300px;
    margin: 0 auto;

    margin-top: 36px;
}

.costSlider .ui-slider{
    margin-bottom: 24px;
}

.costSlider .sliderLabel{
    font-size: 14px;
    text-transform: uppercase;
}

.costSlider label{
    font-size: 18px;

    text-transform: uppercase;
    text-align: center;
}

.costSlider label span{
    font-weight: 700;
}

.costSlider .blueLabel{
    color: #003c69;
    margin-bottom: 36px;
}

.costSlider .redLabel{
    color: #be461d;
}

.costSlider input[type="text"]{
    border: none;
    box-shadow: none;
    background: transparent;

    color: #be461d;
    font-size: 18px;
    font-weight: 700;

    text-transform: uppercase;

    width: 90px;
    position: relative;
    top: 3px;    
    padding-left: 0;
}

a.add-comment {
    background-color: #0d4058;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 6px 18px;
    text-transform: uppercase
}

.add-comment i {
    background-color: #fff;
    border-radius: 8px;
    color: #0d4058;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    text-align: center;
    width: 16px;
}

.add-comment i:before {
    font-size: 10px;
    position: relative;
    top: 1px;
    vertical-align: middle
}

.add-comment-open i:before {
    content: "\f068" 
}

.row div.comment-wrapper {
    border: none;
    display: none;
}

.comment-wrapper form {
    padding: 0 30px 16px;
}

.comment-wrapper textarea {
    border-color: #d7d7d7;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #a2a2a2;
    display: block;
    min-width: 100%;
    max-width: 100%;
    padding: 15px 18px;
    width: 100%;
}

.comment-wrapper p {
    margin-bottom: 0;
    padding-top: 10px
}

.total-val-column {
    padding-top: 35px
}

.total-val-column span {
    margin-left: 10px
}

/**
* Modal Popup Styles Starts Here
*/

.text-upper {
    text-transform: uppercase
}

.custom-modal {
    background-color: #fafafa;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.promotSection .custom-modal {
    color: #464646
}

.custom-modal-header {
    background-color: #8b2331;
    border-bottom: none;
}

.custom-modal-header .close {
    color: #fafafa;
    font: 700 14px 'Roboto', sans-serif;
    opacity: 1;
    text-shadow: none
}

.custom-modal-header i {
    margin-left: 10px;
    position: relative;
    top: -1px;
}

.custom-modal-header .icon-remove:before {
    background: #fafafa;
    border-radius: 8px;
    color: #8b2331;
    height: 16px;
    width: 16px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.custom-modal-body {
    padding: 35px 15px 20px 30px;
}

.custom-modal a {
    color: #8b2331;
    font-weight: 500
}

.custom-modal-footer {
    background-color: #fafafa;
    border-top: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 15px 35px 30px;
    text-align: left
}
#watch-video{ width: 640px; }
#watch-video .custom-modal-body,
#watch-video .custom-modal-footer{
    padding: 0;
}

#watch-video .get-involved-wrapper h2{
    font-size: 26px;
}

.source-wrapper {
    font-style: italic;
    font-weight: 700;    
}

.source-wrapper span {
    font-weight: normal
}

/**
* Modal Popup Styles Ends Here
*/

/**
* Home Page Styles Starts Here
*/

.banner-wrapper {
    background: url(../img/img_home_banner.jpg) no-repeat;
    background-size: cover;
    height: 324px;
    padding: 86px 0 92px;
    width: 100%;
    display: table;
}

.banner-wrapper > .container-wrapper{
    display: table-cell;
    vertical-align: middle;
}

.banner-wrapper h1 {
    color: #343434;
    font-size: 48px;
}

.banner-wrapper span.span-block {
    margin-bottom: 10px
}

.span-block {
    display: block;
    float: none
}

.span-block span {
    background-color: #fff;
    display: inline-block;
    padding: 18px 34px 18px
}

.link > a {
    background-color: #0d4058;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Architects Daughter', cursive;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    padding-right: 27px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 14px;
}

.link > a i {
    font-size: 15px;
    display: inline-block;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px
}

.link > a i:before {
    line-height: 50px
}

.get-involved-wrapper {
    background-color: #731d28;
    margin-top: 0;
    padding: 20px 0
}

.get-involved-wrapper h2 {
    color: #fff;
    display: inline-block;
    font-weight: normal;
    font-family: 'Architects Daughter', cursive;
    margin-right: 24px;
    position: relative;
    text-transform: capitalize;
    top: 4px;
}

.get-involved-wrapper h2 + a {
    margin-right: 15px
}

.get-involved-wrapper .link > a {
    background-color: #fff;
    color: #731d28;
    border-radius: 15px;
    padding-left: 27px;
}

.get-involved-wrapper a i {
    background-color: #300c12;
    color: #fff
}

/**
* Home Page Styles Ends Here
*/

/**
* Generic Content Page Styles Starts Here
*/

.generic-content-wrapper {
    margin-bottom: 85px;
    padding-top: 70px;
}

.generic-content-wrapper h1 {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 60px
}

.generic-content-wrapper p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 30px
}

.generic-content-wrapper a {
    color: #8b2331;
    font-weight: 500
}

.generic-content-wrapper h1 + p {
    font-size: 21px
}

.generic-content-wrapper .source-wrapper {
    padding-top: 15px
}

.generic-content-wrapper .source-wrapper p {
    color: #636363;
    font-size: 16px;
    margin-bottom: 0
}

.generic-content-wrapper img {
    border: 6px solid #ebebeb;
    margin-top: 60px
}

.generic-content-wrapper h3 {
    font: 500 36px 'Architects Daughter', sans-serif;
    margin-bottom: 40px;
    margin-top: 50px;
}

.generic-content-wrapper ul {
    font-size: 18px;
    line-height: 26px;
    margin-left: 56px;
    text-align: left
}

.generic-content-wrapper ul li {
    margin-top: 20px;
    padding-left: 32px;
    position: relative;
}

.generic-content-wrapper ul li:first-child {
    margin-top: 0
}

.generic-content-wrapper ul li:before {
    background-color: #8b2331;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 8px;
}

blockquote {
    border-color: #e3e3e3;
    margin-top: 60px;
    padding-left: 35px;
    text-align: left
}

.generic-content-wrapper blockquote p {
    color: #8b2331;
    font: 500 24px 'Architects Daughter', sans-serif;
    line-height: 36px;
    margin-bottom: 12px;
    position: relative;
    top: -8px
}

cite {
    color: #a6a6a6;
    text-transform: uppercase
}

.iframe-wrapper {
    margin-top: 65px;
    /*position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;*/
}

/*.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

/**
* Generic Content Page Styles Ends Here
*/

/* ==========================================================================
   News Listing Styles
   ========================================================================== */
.news .span8{
    float: none;
    margin: 0 auto;
    padding: 60px 0;
}

.news h2{
    font-size: 38px;
    line-height: 1em;
    margin-bottom: 18px;
}

.news article{
    padding: 36px 0;
     border-bottom:  1px solid #e0e0e0;
}

.news article h3{
    font-size: 27px;
    line-height: 1em;
    margin-bottom: 30px;
}

.news article p{
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 18px;
}

.news article p a{
    color: #8b2331;
}

.news .summary li{
    color: #a2a2a2;
    font-size: 18px;
    text-transform: uppercase;
}

.news .summary li a{
    color: #8b2331;
    font-weight: 600;
}

.news .pager a{
    background-color: #0d4058;

    border-radius: 0;
    border: none;    

    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.news .pager a:hover{
    background-color: #0d4058;
}

.news .pager a span{
    display: inline-block;
    padding: 0 12px;
}

/* ==========================================================================
   Pincode Styles
   ========================================================================== */
.sectionHeader{
    background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;

    padding: 48px 0;
    text-align: center;
    margin-bottom: 36px;
}

.sectionHeader .span8{
    margin: auto;
    float: none;
}

.sectionHeader h2{
    font-size: 42px;
    font-weight: 500;
    line-height: 1em;
}

.sectionHeader h2 + p{
    margin-top: 24px;
}

.widgetContent{
    padding: 24px;
    
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    margin-bottom: 42px;
}

.widgetContent h3{
    color: #8b2331;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
    font-weight: normal;
    line-height: 1em;
    margin-bottom: 24px;
}

.widgetContent h3.title {
    font-family: 'Architects Daughter', sans-serif;
}

.widgetContent h3 + p{
    margin-bottom: 42px;
}

.pincodeForm input[type="text"]{
    width: 264px;
    border-radius: 0;
    padding: 12px 18px;
    margin-bottom: 24px;
}

.pincodeForm .btn-submit{
    color: white;
    font-family: 'Architects Daughter', sans-serif;
    font-size: 18px;
    text-transform: uppercase;

    background: none;    
    background-color: #8b2331;
    border-radius: 10px;
    border: none;

    display: block;

    width: 214px;
    padding: 12px 0;
    margin: auto;

    text-shadow: none;
}

/* ==========================================================================
   social Button Styles
   ========================================================================== */
   .socialBtn{
        text-align: center;
   }
   .socialBtn li{ 
        display: inline; 
    }
    
    .socialBtn li + li{
        margin-left: 30px;
    }

    .socialBtn li a{
        color: white;
        background-color: #8b2331;
        display: inline-block;

        font-size: 17px;
        font-weight: 400;

        padding: 12px 18px;
        margin-bottom: 30px;

        width: 230px;
    }

    .socialBtn li a span{
        display: inline-block;
        padding: 0 12px;
    }

    .socialBtn li.facebook-btn a{ background-color: #3b5998; }
    .socialBtn li.google-btn a{ background-color: #dd4b39; }
    .socialBtn li.twitter-btn a{ background-color: #55acee; }
    .socialBtn li.linkedin-btn a{ background-color: #0977b5; }
    
/* ==========================================================================
   Register Form Styles Starts
   ========================================================================== */

    .register-form {
        text-align: left
    }
    
    .form-item-wrapper {
        margin-bottom: 25px
    }
    
    .register-form label {
        cursor: default;
        font-size: 18px;
        margin-bottom: 9px
    }
    
    .register-form label.checkbox {
        padding-top: 10px
    }
    
    .register-form input {
        margin-bottom: 0
    }
    
    .register-form input[type="checkbox"]{
        margin-right: 6px;
        vertical-align: top;
    }
    
    .register-form input[type="text"],
    .register-form input[type="email"]{
        border-radius: 0;
        color: #464646;
        font-size: 16px;
        height: 47px;
        opacity: .5;
        filter: alpha(opacity=50);
        padding: 0 16px;
    }
    
    .form-submit {
        position: relative
    }
    
    .form-submit input {
        background-color: #8b2331;
        border: 0;
        color: #fff;
        height: 44px;
        line-height: 44px;
        padding: 0 38px 0 50px
    }
    
    .form-submit:before {
        color: #fff;
        content: "\f00c";
        font-family: 'FontAwesome';
        margin-left: 15px;
        position: absolute;
        top: 11px
    }    
    
/* ==========================================================================
   Offline Submission Page Styles
   ========================================================================== */
    
    .download-link a {
        background-color: #8b2331;
        color: #fff;
        display: inline-block;
        font-size: 21px;
        font-family: 'Architects Daughter', cursive;
        height: 44px;
        line-height: 44px;
        padding: 0 28px;
        border-radius: 14px;
    }
    
    .download-link i {
        margin-right: 10px
    }
    
    .offline-form-submit input {
        width: 250px
    }
   
    .offline-form-submit:before {
        margin-left: 80px
    }
    
/* ==========================================================================
   Chart Styles
   ========================================================================== */

    .chartData h4{
        font-size: 24px;
        line-height: 1.5em;
        margin-bottom: 30px;

        text-align: center;
    }

    .chartData ul{
        text-align: right;
    }

    .chartData ul li{
        font-size: 15px;
    }

    .chartData ul li + li{
        margin-top: 12px;
    }

    .chartData ul li span, .chartData ul li em{
        display: inline-block;
        margin-left: 18px;
        margin-right: 18px;
    }

    .chartData ul li span{
        font-weight: 600;
        text-transform: uppercase;
        max-width: 200px;
    }

    .chartData ul li em{
        width: 20px;
        height: 20px;
        position: relative;
        top: 4px;
    }

    .chartData ul li em.colOption1{ background-color: #be461d; }
    .chartData ul li em.colOption2{ background-color: #0d4058; }
    .chartData ul li em.colOption3{ background-color: #8b2331; }

    .doughtChart{ padding-top: 30px; }
    .roundData{
        color: white;
        font-size: 82px;

        width: 240px;
        height: 240px;
        border-radius: 120px;

        background: #0a2f40;
        text-align: center;
        line-height: 240px;
        display: inline-block;
        behavior: url(css3pie/PIE.htc);
    }

    .roundChart{
        margin-top: 78px;
    }
    .roundChart h4{
        font-weight: 400;
    }

    .redButton{
        background-color: #8b2331 !important;
    }

    .finishChart{ 
        margin-bottom: 60px;
    }    

    .barChart{
        margin-top: 42px;
    }

    .barChart h4{
        margin-bottom: 18px;
    }

    .barChart h6{
        font-size: 54px;
        text-align: center;
    }
    
    
/* ==========================================================================
   Notification Styles
   ========================================================================== */    
   .notificationSection{
    color: white;
    background-color: #235F8C;
    padding: 18px;
   }

   .notificationSection li{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
   }

   .notificationSection h5{ font-size: 17px; font-weight: 500; margin-bottom: 9px; }
   .notificationSection span{ font-size: 15px; }

   .notificationSection .icon-exclamation-sign{ font-size: 36px; }
   .notificationSection li:first-child + li{ width: 800px; margin-left: 18px; }
   .notificationSection li:first-child + li > a{ font-weight: 500; color: white; }
   .notificationSection li.last a{ display: inline-block; font-size: 30px; background-color: #1A4566; padding: 10px 15px; color: white; }    


/* ==========================================================================
   Footer Styles
   ========================================================================== */
footer{
    color: white;
    background-color: #464f57;
    padding: 42px 0;
}

footer nav{
    text-align: center;
    margin-bottom: 40px;
}
footer nav li{ 
   display: inline; 
}

footer nav li a{
    color: white;
    display: inline-block;
    font-size: 12px;
    padding: 0 18px;
}

footer nav li a:hover{
    color: white;
}

footer p{
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
}

footer p span {
    display: block;
    margin-top: 6px
}

footer h5{
    font-size: 23px;
    font-weight: 500;
    text-align: center;

    margin-bottom: 42px;
}









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media (max-width: 979px) {
    .topHeader .container {
        position: relative
    }
    
    .mainNavi .navbar {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .mainNavi .navbar .btn-navbar {
        background: none;
        border: none;
        font-size: 34px;
        margin: 0;
        padding: 0;
        text-shadow: none;
    }
    
    .mainNavi .nav>ul>li {
        float: none
    }
    
    #watch-video{ width: auto; }
    
/* ==========================================================================
   Mobile Menu styles
   ========================================================================== */    
    .mainNavi .submission-close{ display: none; }
    .mainNavi .nav-collapse{
        color: white;
        background-color: #002d4f;
        min-width: 200px;
    }
    
    .mainNavi .nav-collapse li a,
    .mainNavi .nav>li.dropdown>a{
        color: white;
        font-size: 14px;
        display: block;
        padding: 9px 18px;
        margin: 0;
    }
    
    .mainNavi .nav-collapse li a:hover,
    .mainNavi .nav-collapse li a:focus{
        color: white;
        background-color: #003b69;
    }    
    
    .iconmoon-menu2 {
         color: #002d4f;
    }
    
    /** Home Page Styles Starts Here **/
    
    .banner-wrapper h1 {
        font-size: 26px
    }
}

/**
* Mobile View Styles Starts Here
*/

@media (max-width: 767px) {
    body {
        padding: 0
    }
    
    .topHeader,
    .content,
    .fixed-header {
        padding-left: 10px;
        padding-right: 10px
    }
    
    .mainLogo {
        background-size: 100%;
        height: 36px;
        width: 210px
    }
    
    .iconmoon-menu2 {
        color: #002d4f
    }
    
    .content {
        padding-bottom: 0;
        padding-top: 24px
    }
    
    .primeSlider {
        margin-left: -10px;
        margin-right: -9px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    .fixed-header {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
    }
    
    .primeSlider .ui-slider {
        height: 23px
    }
    
    .primeSlider .ui-slider-handle.ui-state-default {
        height: 55px;
        margin-left: -1px
    }
    
    .primeSlider .ui-slider-handle:before {
        font-size: 14px;
        height: 22px;
        line-height: 22px;
        min-width: 86px
    }
    
    .totalSliderLabel.topLabel {
        margin-left: 0
    }
    
    .promotSection {
        margin-left: -10px;
        margin-right: -10px
    }
    
    .promotSection img {
        float: none
    }
    
    .subSection .spacingAll {
        padding-left: 10px;
        padding-right: 10px
    }
    
    .subSection-row .costSlider {
        margin-top: 0;
        padding-top: 0;
        width: auto
    }
    
    .contentSection .nextButton {
        padding-bottom: 8px;
        padding-top: 8px;
        width: 227px
    }
    
    .pincodeForm input[type="text"] {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 44px;
        width: 100%
    }
    
    footer {
        padding: 30px 20px;
    }
    
    footer nav li a {
        font-size: 15px;
        padding: 6px 13px;
    }
    
    footer p {
        font-size: 14px
    }
    
    footer h5 {
        margin-bottom: 0
    }
    
    /** Home Page Styles Starts Here **/
    
    .banner-wrapper {
        height: 214px;
        padding-bottom: 58px
    }
    
/*    .get-involved-wrapper {
        padding-bottom: 0;
        padding-top: 0;
    }*/
    
    .get-involved-wrapper h2{
        font-size: 24px;
        display: block;
    }
    
    .get-involved-wrapper .link > a {
        margin-top: 18px;
    }
    
    .get-involved-wrapper .link  h2 + a {
        margin-right: 0
    }
    
    .get-involved-wrapper a i {
        background-color: rgba(48, 12, 18, .6);
    }
    
    .get-involved-wrapper .link  h2 + a i {
        background-color: rgba(115, 29, 40, .6);
    }
    
    /** Generic Content Page Styles Starts Here **/

    .generic-content-wrapper {
        margin-bottom: 0;
        padding: 20px 10px 12px;
    }
    
    .generic-content-wrapper h1 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 22px
    }
    
    .generic-content-wrapper p {
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 20px
    }
    
    .generic-content-wrapper .source-wrapper p {
        font-size: 15px
    }
    
    .generic-content-wrapper img {
        margin-top: 25px;
        max-width: 97%;
    }
    
    .generic-content-wrapper h3 {
        margin-bottom: 28px;
        margin-top: 30px
    }
    
    .generic-content-wrapper ul {
        font-size: 15px;
        line-height: 22px;
        margin-left: 0
    }
    
    .generic-content-wrapper ul li {
        margin-top: 16px
    }
    
    blockquote {
        margin-top: 28px;
        padding-left: 8px;
    }
    
    .generic-content-wrapper blockquote p {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 6px;
        top: -5px
    }
    
    cite {
        margin-left: 15px
    }
    
    .iframe-wrapper {
        margin-top: 25px
    }

/* ==========================================================================
   News styles
   ========================================================================== */
    .news .span8 {
        padding-left: 12px;
        padding-right: 12px;
    }

/* ==========================================================================
   Pincode styles
   ========================================================================== */    

   .clearMargin{ 
        width: auto;
   }

   .sectionHeader{
        padding: 36px 0;
   }

   .sectionHeader h2{
        font-size: 30px;
        font-weight: 500;
        line-height: 1.25em;
   }

   .widgetContent{
        background-color: #ebebeb;
        margin-left: 12px;
        margin-right: 12px;
   }

   .widgetContent h3{
        font-size: 30px;
        font-weight: 500;
        line-height: 1.25em;
   }    

/* ==========================================================================
   social Button Styles
   ========================================================================== */
    .socialBtn li{
        display: block;
    }

    .socialBtn li + li{
        margin-left: 0;
    }
    
/* ==========================================================================
   Register Form styles
   ========================================================================== */

   .register-form {
        padding: 0 15px
    }
    
    .form-item:first-child {
        margin-bottom: 25px
    }    

}

/**
* Mobile View Styles Ends Here
*/

/**
* Tablet View Styles Starts Here
*/

@media (min-width: 768px) and (max-width: 979px) {
    .subSection-row .costSlider {
        padding: 0;
        width: auto
    }
    
    .subSection-row .span5 {
        margin-left: 0
    }
    
    /** Home Page Styles Starts Here **/
    
    .get-involved-wrapper h2 {
        font-size: 20px;
        margin-right: 17px
    }
    
/*    .link > a {
        font-size: 14px;
        padding-left: 60px;
        padding-right: 20px;
    }*/
    
    .get-involved-wrapper h2 + a {
        margin-right: 8px
    }

/* ==========================================================================
   News styles
   ========================================================================== */
    .news .span8 {
        width: auto;
    }    

/* ==========================================================================
   Pincode styles
   ========================================================================== */    

   .clearMargin{ 
        width: auto;
   }

   .sectionHeader h2{
        font-size: 30px;
        font-weight: 500;
   }

   .widgetContent h3{
        font-size: 30px;
        font-weight: 500;
   }
   
/* ==========================================================================
   Register Form styles
   ========================================================================== */

   .register-form-wrapper {
        width: 600px
    }   
}

/**
* Tablet View Styles Ends Here
*/

/**
* 940 View Media Queries Starts Here
*/

@media (min-width: 980px) and (max-width: 1199px) {
    .hidden-980 {
        display: none
    }
    
    footer nav li a {
        padding-left: 13px;
        padding-right: 13px
    }
    
    /** Home Page Styles Starts Here **/
    
    .banner-wrapper h1 {
        font-size: 36px
    }
}

/**
* 940 View Media Queries Ends Here
*/